/target/
/target-tests/
/target-tests-int/
/target-tests-int2/
/node_modules/
/dist/
/logs/
/workspace/
/workspace_*/
!/workspace_thesis_verify_current/
!/workspace_thesis_verify_current/**

*.pdb
*.rlib
*.dll
*.lib
*.exe
*.zip

tools/projectdiscovery/**/httpx.exe
tools/projectdiscovery/**/nuclei.exe
