/target/
/target-tests/
/target-tests-int/
/target-tests-int2/
/node_modules/
/dist/
/logs/
/workspace/
/workspace_*/

*.pdb
*.rlib
*.dll
*.lib
*.exe
*.zip

tools/projectdiscovery/**/httpx.exe
tools/projectdiscovery/**/nuclei.exe
